<div class="navbar">
    <img src="../../../assets/images/logo.jpg" alt="Logo" class="logo">
    <ul class="navbar-list">
        <li>
            <a [routerLink]="['/']" class="navbarLink">
                <ng-icon size="20" name="bootstrapHouse"></ng-icon>
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapPeopleFill"></ng-icon>
                Tria-Team
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapFlag"></ng-icon>
                Lauftreff
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapSnow2"></ng-icon>
                Winterlaufserie
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapCardText"></ng-icon>
                Abteilung
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapSend"></ng-icon>
                News
            </a>
        </li>
        <li>
            <a [routerLink]="['/winterlaufserie']" class="navbarLink">
                <ng-icon size="20" name="bootstrapBoxSeam"></ng-icon>
                Dies & Das
            </a>
        </li>
    </ul>
</div>
