<h1>Willkommen beim Triathlon-Team Seligenstadt</h1>

<table class="home-info-table">
    <tr>
        <td>18.01.2025</td>
        <td><a>Vorläufige Ergebnisliste der Winterlaufserie, 3. Lauf</a></td>
    </tr>

    <tr>
        <td>08.01.2025</td>
        <td><a>Urkundendruck für den 2. Lauf der Winterlaufserie</a></td>
    </tr>

    <tr>
        <td>04.01.2025</td>
        <td><a>Endgültige Ergebnisliste der Winterlaufserie, 2. Lauf</a></td>
    </tr>

    <tr>
        <td>23.11.2024</td>
        <td><a>Endgültige Ergebnisliste der Winterlaufserie, 1. Lauf und Urkundendruck</a></td>
    </tr>

    <tr>
        <td>28.09.2024</td>
        <td><a>Online-Anmeldung zur Winterlaufserie 2024/2025 ist geöffnet</a></td>
    </tr>

    <tr>
        <td>30.08.2024</td>
        <td><a>Ausschreibung zur Winterlaufserie 2024/2025</a></td>
    </tr>
</table>